@page {
  size: A4;
}

@page:left {
  margin-left: 0;
}

@page:right {
  margin-left: 0;
}

@font-face {
    font-family: 'Neuzeit S LT';
    src: url(neuzeitslt.ttf);
}

@font-face {
    font-family: 'DIN Condensed';
    src: url(dincondensed.ttf);
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Neuzeit S LT';
  font-size: 16pt;
  height:297mm;
  width:210mm;
}

h1 {
  font-family: 'DIN Condensed';
  font-size: 16pt;
}


ul {
  list-style-type: none;
}

ul > li:before {
  content: "–"; /* en dash */
  position: absolute;
  margin-left: -1.1em;
}

table { border: none; }

#offert {
  position: relative;
  height: 100%;
  margin-left: 2.2cm;
}

.offert { height: 100%; margin: 0 auto; }
.kerning { letter-spacing: 2px; }

.content_numbers {
  position: absolute;
  top: 47.5mm;
  left: 150mm;
  width: 20mm;
  height: 20mm;
  background-color: white;
  font-size: 8pt;
  line-height: 8pt;
  text-align: right;
}
.content_orderer {
  position: absolute;
  top: 71mm;
  left: 40mm;
  width: 63mm;
  height: 60mm;
  background-color: white;
  font-size: 8pt;
  line-height: 8pt;
  text-align: center;
}

.content_supplier {
  position: absolute;
  top: 71mm;
  left: 106mm;
  width: 64mm;
  height: 60mm;
  background-color: white;
  font-size: 8pt;
  line-height: 8pt;
  text-align: center;
}

.content_articles {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 50mm;
  top: 147mm;
  left: 32.5mm;
  font-size: 8pt;
  line-height: 16pt;
}
.content_articles textarea {
  width: 120mm;
  height: 50mm;
}

.content_totalprice {
  position: absolute;
  width: 100%;
  top: 217mm;
  height: 10mm;
  background-color: white;
  font-family: 'DIN Condensed';
  font-size: 20pt;
  line-height: 20pt;
  text-align: center;
  letter-spacing: 4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 50mm;
  padding-left: 2.2cm;
}
