#offert
  %img.offert{:src => "invoice.png"}/
  %form{ action: '/generate_invoice' }
    .content_ocr
      %p
        %input{placeholder: '0000000', name: 'ocr_number' }
    .content_numbers
      %p
        %input{placeholder: '0000000', name: 'invoice_number' }
      %p
        %input{placeholder: '2017-01-01', name: 'invoice_date' }
      %p
        %input{placeholder: '2017-02-01', name: 'invoice_due_date' }
    .content_orderer
      %p.kerning BESTÄLLARE
      %p
        %input{placeholder: 'Företag AB', name: 'company_name' }
      %p
        %input{placeholder: 'Gata 1', name: 'company_adress' }
      %p
        %input{placeholder: '12525 Stockholm', name: 'company_postal' }
      %br/
      %br/
      %br/
      %p.kerning ER REFERENS
      %p
        %input{placeholder: 'Random Person', name: 'company_reference' }
      %p
        %input{placeholder: '+46 70719 56 51', name: 'company_reference_phone' }
      %p
        %input{placeholder: 'epost@foretag.se', name: 'company_reference_mail' }
    .content_supplier
      %p.kerning LEVERANTÖR
      %p Konglig Datasektionen
      %p Att: Studs 2018, Fack vid THS
      %p 100 44 Stockholm
      %p Org. nummer: 802412-7709
      %br/
      %p.kerning VÅR REFERENS
      %p
        %input{placeholder: 'Vem Då', name: 'our_reference' }
      %p
        %input{placeholder: '+46 70719 56 51', name: 'our_reference_phone' }
      %p
        %input{placeholder: 'epost@studieresan.se', name: 'our_reference_mail' }
    .content_articles_invoice
      - (1..7).each do |i|
        .article
          %input{placeholder: "Artikel #{i}", name: "article_#{i}_content" }
          %input{placeholder: "1", name: "article_#{i}_amount" }
          %input{placeholder: "10", name: "article_#{i}_price" }
          %br/
    .content_totalprice
      %input{placeholder: '120 SEK', name: 'price' }
    %input{type: 'submit'}
